In [7]:
import pandas as pd
import numpy as np


DATA = pd.read_csv('/Users/souchaud/Downloads/MN_29_latest-2024-2025.csv', 
                    sep=";",
                    decimal=",",
                    encoding="utf-8",
                    skipinitialspace=True,
                    na_values=["", " ", "   ", "\t"],
                    keep_default_na=True,
                    dtype={'column_name': np.float64})

In [11]:
station = "PLOUDALMEZEAU"
DATA[DATA["NOM_USUEL"]== station]

,NUM_POSTE,NOM_USUEL,LAT,LON,ALTI,AAAAMMJJHHMN,RR,QRR
1595295,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202401010000,0.0,9
1595296,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202401010006,0.0,9
1595297,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202401010012,0.0,9
1595298,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202401010018,0.0,9
1595299,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202401010024,0.0,9
...,...,...,...,...,...,...,...,...
1745544,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202509180136,0.0,9
1745545,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202509180142,0.0,9
1745546,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202509180148,0.0,9
1745547,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202509180154,0.0,9
1745548,29178001,PLOUDALMEZEAU,48.548000,-4.664167,40,202509180200,0.0,9

In [16]:
import pandas as pd

# --- Paramètres cibles ---
date_str = "26/12/2024"   # format JJ/MM/AAAA
heure_str = "14H00"       # format HHhMM

# --- Construire l'instant cible ---
target_dt = pd.to_datetime(f"{date_str} {heure_str}", format="%d/%m/%Y %Hh%M")
window_start = target_dt - pd.Timedelta(hours=48)

# --- Préparer les données ---
df = DATA.copy()

# 1) Parser la colonne "AAAAMMJJHHMN" -> datetime
df["dt"] = pd.to_datetime(df["AAAAMMJJHHMN"].astype(str), format="%Y%m%d%H%M", errors="coerce")

# 2) Forcer RR en numérique
df["RR"] = pd.to_numeric(df["RR"], errors="coerce")

# 3) Filtrer sur la station + la fenêtre temporelle
mask_station = df["NOM_USUEL"].eq(station)
mask_time = (df["dt"] >= window_start) & (df["dt"] < target_dt)
sub = df.loc[mask_station & mask_time, ["dt", "RR"]].sort_values("dt")

# --- Somme sur 24h ---
rr_24h = sub["RR"].sum(min_count=1)

print(f"Station: {station}")
print(f"Fenêtre: {window_start} -> {target_dt} (exclu)")
print(f"Somme RR sur 24h précédentes: {rr_24h}")

Station: PLOUDALMEZEAU
Fenêtre: 2024-12-24 14:00:00 -> 2024-12-26 14:00:00 (exclu)
Somme RR sur 24h précédentes: 1.4

In [27]:
import pandas as pd
import numpy as np



DATA = pd.read_csv('/Users/souchaud/Downloads/H_29_latest-2024-2025.csv', 
                    sep=";",
                    decimal=",",
                    encoding="utf-8",
                    skipinitialspace=True,
                    na_values=["", " ", "   ", "\t"],
                    keep_default_na=True,
                    dtype={'column_name': np.float64},
                    low_memory=False)

In [28]:
list= DATA.columns

In [29]:
# Liste complète des colonnes
cols = DATA.columns.tolist()
for i, col in enumerate(cols, start=1):
    print(f"{i:3d}: {col}")

  1: NUM_POSTE
  2: NOM_USUEL
  3: LAT
  4: LON
  5: ALTI
  6: AAAAMMJJHH
  7: RR1
  8: QRR1
  9: DRR1
 10: QDRR1
 11: FF
 12: QFF
 13: DD
 14: QDD
 15: FXY
 16: QFXY
 17: DXY
 18: QDXY
 19: HXY
 20: QHXY
 21: FXI
 22: QFXI
 23: DXI
 24: QDXI
 25: HXI
 26: QHXI
 27: FF2
 28: QFF2
 29: DD2
 30: QDD2
 31: FXI2
 32: QFXI2
 33: DXI2
 34: QDXI2
 35: HXI2
 36: QHXI2
 37: FXI3S
 38: QFXI3S
 39: DXI3S
 40: QDXI3S
 41: HFXI3S
 42: QHFXI3S
 43: T
 44: QT
 45: TD
 46: QTD
 47: TN
 48: QTN
 49: HTN
 50: QHTN
 51: TX
 52: QTX
 53: HTX
 54: QHTX
 55: DG
 56: QDG
 57: T10
 58: QT10
 59: T20
 60: QT20
 61: T50
 62: QT50
 63: T100
 64: QT100
 65: TNSOL
 66: QTNSOL
 67: TN50
 68: QTN50
 69: TCHAUSSEE
 70: QTCHAUSSEE
 71: DHUMEC
 72: QDHUMEC
 73: U
 74: QU
 75: UN
 76: QUN
 77: HUN
 78: QHUN
 79: UX
 80: QUX
 81: HUX
 82: QHUX
 83: DHUMI40
 84: QDHUMI40
 85: DHUMI80
 86: QDHUMI80
 87: TSV
 88: QTSV
 89: PMER
 90: QPMER
 91: PSTAT
 92: QPSTAT
 93: PMERMIN
 94: QPMERMIN
 95: GEOP
 96: QGEOP
 97: N
 98: QN
 99: NBAS
100: QNBAS
101: CL
102: QCL
103: CM
104: QCM
105: CH
106: QCH
107: N1
108: QN1
109: C1
110: QC1
111: B1
112: QB1
113: N2
114: QN2
115: C2
116: QC2
117: B2
118: QB2
119: N3
120: QN3
121: C3
122: QC3
123: B3
124: QB3
125: N4
126: QN4
127: C4
128: QC4
129: B4
130: QB4
131: VV
132: QVV
133: DVV200
134: QDVV200
135: WW
136: QWW
137: W1
138: QW1
139: W2
140: QW2
141: SOL
142: QSOL
143: SOLNG
144: QSOLNG
145: TMER
146: QTMER
147: VVMER
148: QVVMER
149: ETATMER
150: QETATMER
151: DIRHOULE
152: QDIRHOULE
153: HVAGUE
154: QHVAGUE
155: PVAGUE
156: QPVAGUE
157: HNEIGEF
158: QHNEIGEF
159: NEIGETOT
160: QNEIGETOT
161: TSNEIGE
162: QTSNEIGE
163: TUBENEIGE
164: QTUBENEIGE
165: HNEIGEFI3
166: QHNEIGEFI3
167: HNEIGEFI1
168: QHNEIGEFI1
169: ESNEIGE
170: QESNEIGE
171: CHARGENEIGE
172: QCHARGENEIGE
173: GLO
174: QGLO
175: GLO2
176: QGLO2
177: DIR
178: QDIR
179: DIR2
180: QDIR2
181: DIF
182: QDIF
183: DIF2
184: QDIF2
185: UV
186: QUV
187: UV2
188: QUV2
189: UV_INDICE
190: QUV_INDICE
191: INFRAR
192: QINFRAR
193: INFRAR2
194: QINFRAR2
195: INS
196: QINS
197: INS2
198: QINS2
199: TLAGON
200: QTLAGON
201: TVEGETAUX
202: QTVEGETAUX
203: ECOULEMENT
204: QECOULEMENT

In [30]:
# --- Paramètres cibles ---
date_str = "26/12/2024"   # format JJ/MM/AAAA
heure_str = "14H00"       # format HHhMM
station = "PLOUDALMEZEAU" # à adapter à ta station

In [31]:
# Construire datetime cible
target_dt = pd.to_datetime(f"{date_str} {heure_str}", format="%d/%m/%Y %Hh%M")
window_start = target_dt - pd.Timedelta(hours=24)

# Transformer colonne date en datetime
DATA["dt"] = pd.to_datetime(DATA["AAAAMMJJHH"].astype(str), format="%Y%m%d%H", errors="coerce")

# Forcer RR1 en numérique
DATA["RR1"] = pd.to_numeric(DATA["RR1"], errors="coerce")

# Filtrer station + période
mask_station = DATA["NOM_USUEL"].eq(station)
mask_time = (DATA["dt"] >= window_start) & (DATA["dt"] < target_dt)
sub = DATA.loc[mask_station & mask_time, ["dt", "RR1"]].sort_values("dt")

# Somme sur 24h
rr_24h = sub["RR1"].sum(min_count=1)

print(f"Station: {station}")
print(f"Fenêtre: {window_start} -> {target_dt} (exclu)")
print(f"Somme RR1 sur 24h précédentes: {rr_24h} mm")

Station: PLOUDALMEZEAU
Fenêtre: 2024-12-25 14:00:00 -> 2024-12-26 14:00:00 (exclu)
Somme RR1 sur 24h précédentes: 0.4 mm